{% extends "template.html" %}
{% block conteudo %}
    <div class="gerador-header">
        <h1>Gerador Campeonato Fifinha</h1>
        <h3>{{ name_camp }}</h3>
            

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Jogador</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for n_jogador in range(n_players_camp|int()) %}
                <tr>
                    <td>Jogador {{ n_jogador }}</td>
                    <td><p><input class="form-control" type="text" name="time_{{n_jogador}}" required></p></td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 
            Colocar botão de submit
        -->
        </p>
    </div>

    <!--
    <div class="buttons-home">
        <a href="http://127.0.0.1:5000/login"><button>Logar</button></a>
        <a href="http://127.0.0.1:5000/new_player"><button>Novo Jogador</button></a>
    </div>
    -->
{% endblock %}