{% extends "template.html" %}
{% block conteudo %}
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Jogadores</th>
                <th>Pontuacão</th>
            </tr>
        </thead>
        <tbody>
            {% for jogador in jogadores %}
            <tr>
                <td>{{ jogador.name }}</td>
                <td>{{ jogador.score }}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="buttons-home">
        <a href="http://127.0.0.1:5000/login?next_page=new_player"><button>Logar</button></a>
        <a href="http://127.0.0.1:5000/new_player"><button>Novo Jogador</button></a>
        <a href="http://127.0.0.1:5000/logout"><button>Logout</button></a>
    </div>
    <div class="baixar-o-footer">
        <p>baixa o footer ne</p>
        <br>
        <p>br nao eh brasil, pula linha ai fiao</p>
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br>
    </div>
{% endblock %}