{% extends "template.html" %}
{% block conteudo %}
<br>
<br>
<div class="gaming-zone">
    <form method="POST" action="{{ url_for('confirmar_respostas') }}">
        <input type="hidden" name="next_page" value="{{ next_page }}">
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Problema</th>
                    <th>Resposta</th>
                </tr>
            </thead>
            <tbody>
                {% for i in dicionario_jogos %}
                <tr>
                    <input type="hidden" id="jogo_{{i}}_num_1" name="jogo_{{i}}_num_1" value="{{dicionario_jogos[i].num_1}}">
                    <input type="hidden" id="jogo_{{i}}_num_2" name="jogo_{{i}}_num_2" value="{{dicionario_jogos[i].num_2}}">
                    <td id="jogo_{{i}}" name="jogo_{{i}}">{{ dicionario_jogos[i].num_1 }} x {{ dicionario_jogos[i].num_2 }}</td>
                    <td><input type="number" id="tentativa_{{i}}" name="tentativa_{{i}}" required></td>
                </tr>
                {% endfor %}
                </div>
            </tbody>
        </table>
        <div class="buttons-home">
            <button class="btn btn-primary-sucess" type="submit">Confirmar</button>
        </div>
    </form>
</div>
<br>
<br>
{% endblock %}