{% extends "template.html" %}
{% block conteudo %}
    <div class="top-form-create-usuario">
        <h3>Bem-vindo ao matemaniac, crie seu usuario para acessar área de treino.</h3>
    </div>


    <form action="{{ url_for('create') }}" method="post">
    <fieldset>
        <div class="form-group">
            <label>Nome do Usuario</label>
            <input type="text" id="id_nickname" name="id_nickname" class="form-control">
            <label>Senha do Usuario</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <!--
        <div class="form-group">
            <label for="pontuacao">Pontuacao</label>
            <input type="text" id="pontuacao" name="pontuacao" class="form-control">
        </div>
        -->
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
    </fieldset>
    </form>
{% endblock %}