{% extends "template.html" %}
{% block conteudo %}
    <div class="gerador-header">
        <h1>Gerador Campeonato Fifinha</h1>
        <h3>{{ name_camp }}</h3>
            
        <h3>{{ lista_times }}</h3>

        <h3>{{ dic_times }}</h3>
        
        <!--
            
        -->
    </div>

    <!--
    <div class="buttons-home">
        <a href="http://127.0.0.1:5000/login"><button>Logar</button></a>
        <a href="http://127.0.0.1:5000/new_player"><button>Novo Jogador</button></a>
    </div>
    -->
{% endblock %}